<h1>Workshops Pure Data, openFrameworks and Raspberry Pi</h1>

<ul class="menu">
  <li class="contact">funktion.fm</li>
  <li class="news">NEWS</li>
  <li class="projects">PROJECTS</li>
</ul>

<p>
 This is a duo of workshops organized together with <a href="http://rijnieks.lv">Krisjanis Rijnieks</a> and <a href="http://schprici.skematic.lv/">Irina Spicaka</a>.
</p>

<p>
<a href="http://www.raspberrypi.org/">Raspberry Pi</a> is a cheap, lovely, credit-card sized computer. Among <a href="http://makezine.com/2013/01/03/best-of-2012-raspberry-pi-projects/">many other things</a>, it can be used as a custom, take-anywhere and minimalist solution for live performance, sound or visuals.
</p>

<p>
In this workshop, we teach people to use <a href="http://puredata.info/">Pure Data</a> and <a href="http://www.openframeworks.cc/">openFrameworks</a>, two popular plateforms for sound programming and visual programming, on their Raspberry Pi, and build a small instrument for live performance.
</p>

<div class="posts">
{{#each posts}}
  <div class="post">
    <div class="postDate">{{prettifyDate date}}</div>
    <div class="postTitle">{{title}}</div>
    <div class="postContent">{{{content}}}</div>
    <!--<div class="postTags"><span></span> {{#each tags}}<a href="">{{this}}</a><span class="separator">, </span> {{/each}}</div>-->
    <div class="clearfix"></div>
  </div>
{{/each}}
</div>

<script>

</script>
