<div class="header">
  <ul class="menu">
    <li class="contact">funktion.fm</li>
    <li class="news">NEWS</li>
    <li class="projects">PROJECTS</li>
  </ul>
  <h1><a href="#project/webpd">WebPd</a></h1>
</div>

<div class="index">
  <div class="pitch">
    COMING SOON ...
  </div>
</div>

<div class="detail"></div>

<script>
  (function() {

    var $root = $('#projectMiniSite')
    $root.find('.menu .news').click(function() { window.location.hash = 'news' })
    $root.find('.menu .contact').click(function() { window.location.hash = 'contact' })
    $root.find('.menu .projects').click(function() { window.location.hash = 'projects' })

    window.projectMiniSiteRouter = function(route) {

      var routeElems = route.split('/')

      switch(routeElems[0]) {

        case 'post':
          $.get('{{site.root}}' + route, function(postHtml) {
            $root.find('.detail').html(postHtml)
            $root.find('.index').fadeOut(function() { $root.find('.detail').fadeIn() })
          })
          break
      }
    }

  })()
</script>
