@linkColor: #226;
@fontSize: 14px;

.unselectableMixin {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullScreenMixin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'helvetica_neue_lt_std35_thin', courier;
  font-size: @fontSize;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  outline : none;
  color: @linkColor;
  cursor: pointer;

  img {
    outline : none;
  }
}

a:visited {
  color: @linkColor;
}

button {
  .unselectableMixin;
  cursor: pointer;
  outline : none;
  font-family: 'source_code_proextralight', courier;
}

img {
  border : 0;
}

.jspane {
  padding: 0;
}

.jspVerticalBar {
  background-color: transparent;

  .jspTrack {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .jspDrag {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.menuItem {
  .unselectableMixin;
  cursor: pointer;
}

#contactBody, .menuItem, .project {
  font-family: 'source_code_proextralight', courier;
}

.hidden {
  display: none;
}

.clearfix {
  width: 100%;
  height: 0;
  clear: both;
}

svg {
  .fullScreenMixin;

  path {
    stroke-width: 1;
  }

  text {
    font-size: 200%;
  }
}

/* Style for both landing menu and pages menus */
.menu {

  list-style: none;
  margin: 0;
  padding: 0;

  li {
    .menuItem;
    a {
      text-decoration: none;
      color: white;
    }
  }

}

#mainPage {
  height: 100%;
  width: 100%;

  #nav {
    @buttonPadding: 0.8em;
    @fontSize: 250%;

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: pointer;

    .navButtonMixin {
      background: none;
      border: 2px solid transparent;
      border-radius: 0.5em;
      font-size: @fontSize;

      &:active {
        border-color: grey;
      }
    }

    &.expanded {
      cursor: initial;
      background-color: rgba(0, 0, 0, 0.85);
      width: 100%;

      &.projects {
        .toggle {
          img.white { display: block; }
          img.black { display: none; }
        }
      }
    }

    /* Set styles in the menu according to the currently active page */
    &.contact { display: none; }

    &.projects {
      .toggle { img.black { display: block; } }
      .menu { .projects button { text-decoration: underline; } }
    }

    &.news {
      .toggle { img.white { display: block; } }
      .menu { .news button { text-decoration: underline; } }
    }

    .toggle {
      .navButtonMixin;
      padding: @buttonPadding;

      img {
        display: none;
        height: 1.1em;
      }
    }

    .menu {
      display: none;
      float: right;

      li {
        display: inline-block;

        button {
          .navButtonMixin;
          min-width: 7em;
          color: #bbb;
          padding: @buttonPadding;
        }

        &:first-child {
          button {
            font-weight: bold;
          }
        }
      }
    }

  }

}

#modal {
  .fullScreenMixin;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: url('../images/close-cursor.png'), auto;

  .content {
    cursor: initial;
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative; /* to fix the offset introduced by jscrollpane */
    right: 3%;
    font-size: 150%;
    color: white;

    /* innerContent, to add jscrollpane */
    >div {
      background-color: black;
      padding: 2em;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .jspDrag {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.newsMixin {
  height: 78%;
  margin-left: 27%;
  margin-top: 2.7%;
  overflow: auto;
  color: black;

  .title {
    font-size: 180%;
    letter-spacing: -0.05em;
    color: @linkColor;
    font-family: 'source_code_proextralight', courier;
  }
}

#newsBody {
  .newsMixin;
  display: none;

  .summary {
    margin-bottom: 4em;
    font-size: 100%;

    .title {
      display: block;
      text-transform: uppercase;

      a {
        display: block;
      }

      .date {
        float: right;
        color: grey;
        width: 14%;
        font-size: 85%;
        margin-left: 1em;
      }
    }

    .preview {
      font-size: 110%;
      p { margin: 0.5em 0; }
      .readMore { display: none; }
    }
  }

}

#postBody {
  .newsMixin;

  .post {
    height: 100%;
    font-size: 130%;

    .title {
      font-size: 170%;
    }

    .date {
      color: grey;
    }

    .social {
      margin-top: 0.2em;

      /* copy the layout for the twitter button */
      .facebook {
        display: inline-block;
        float: left;
        margin-right: 4px;
        font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
        color: #333;
        border: 1px solid #ccc;
        font-weight: bold;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        cursor: pointer;
        padding: 0 3px 0 2px;
        white-space: nowrap;
        background-color:#f8f8f8;
        background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
        background-image:-moz-linear-gradient(top,#fff,#dedede);
        background-image:-o-linear-gradient(top,#fff,#dedede);
        background-image:-ms-linear-gradient(top,#fff,#dedede);
        background-image:linear-gradient(top,#fff,#dedede);
        border:#ccc solid 1px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        text-shadow:0 1px 0 rgba(255,255,255,.5);
        -webkit-user-select:none;
        -moz-user-select:none;
        -o-user-select:none;
        user-select:none;
        height:18px;
        max-width:98%;
        overflow:hidden;

        img {
          width: 15px;
          position: relative;
          top: 1px;
        }
        
        span {
          position: relative;
          bottom: 2px;
        }
      }
    }

    #disqus_thread {
      margin-top: 2em;
    }

  }
}

#contactBody {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5em 1.5em;
  font-size: 120%;

  > div {
    margin-bottom: 0.4em;
  }

  .title {
    font-size: 280%;
  }

  .social {
    margin-top: 0.8em;
  }

}

#projectsBody {
  display: none;
  overflow: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 100%;
  padding-right: 0.5em;

  @tileSize: 13em;

  .project {
    width: 100%;
    margin: 2em 0;
    text-align: right;

    .tile {
      text-align: left;
      width: @tileSize;
      height: @tileSize;
      opacity: 0.7;
      color: white;
      display: inline-block;
      background-color: #000;
      cursor: pointer;
      overflow: hidden;

      &.expanded {
        opacity: 1;
        overflow: auto;
        .thumbnail { display: none; }
        .content { display: block; }
      }

      &:hover { opacity: 1; }

      .thumbnail {
        font-size: 150%;
        height: 100%;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        text-align: center;
        background-size: 100%;

        .subtitle {
          background-color: rgba(0, 0, 0, 0.9);
          font-size: 80%;

          .play-icon {
            float: left;
            border: 1px solid white;
            border-radius: 1.5em;
            width: 1.5em;
            height: 1.5em;
            line-height: 1.4em;
            letter-spacing: -0.1em;
          }
        }
      }

      .content {
        display: none;
      }

    }

  }

}
