@top: 6.5%; /* top padding in normal pages */

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro'), url('sourcecodepro/sourcecodepro-light-webfont.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #33d;
}

a:visited {
  color: #33d;
}

.menuItem {
  cursor: pointer;
  font-size: 200%;
}

.fullWindow-mixin {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.clearfix {
  width: 100%;
  height: 0;
  clear: both;
}

svg {
  .fullWindow-mixin;
}

path {
  stroke-width: 1;
}

.menu {

  list-style: none;
  margin: 0;
  padding: 0;

  li {
    .menuItem;

    &:first-child {
      font-weight: bold;
    }
  }

}

.postShare {
  margin-top: 0.2em;

  /* copy the layout for the twitter button */
  .facebook {
    display: inline-block;
    float: left;
    margin-right: 4px;
    font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
    color: #333;
    border: 1px solid #ccc;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    cursor: pointer;
    padding: 0 3px 0 2px;
    white-space: nowrap;
    background-color:#f8f8f8;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
    background-image:-moz-linear-gradient(top,#fff,#dedede);
    background-image:-o-linear-gradient(top,#fff,#dedede);
    background-image:-ms-linear-gradient(top,#fff,#dedede);
    background-image:linear-gradient(top,#fff,#dedede);
    border:#ccc solid 1px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    text-shadow:0 1px 0 rgba(255,255,255,.5);
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
    height:18px;
    max-width:98%;
    overflow:hidden;

    img {
      width: 15px;
      position: relative;
      top: 1px;
    }
    
    span {
      position: relative;
      bottom: 2px;
    }
  }
}

#mainPage .menu {
  display: none;
  color: white;
  position: absolute;
  top: @top - 2%;
  left: 2.5%;

  li {
    margin-bottom: 40%;

    &:first-child {
      font-size: 250%;
    }
  }

}

#newsBody {
  color: black;
  display: none;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  width: 72%;
  right: 0%;
  height: 80%;
  top: @top;
  overflow: auto;

  .post:first-child{
    margin-top: 5%;
  }
}

.posts {

  padding-right: 1em;

  .post {
    margin-bottom: 2em;
  }

  .postDate {
    width: 14%;
    display: inline;
    font-size: 140%;
    margin-right: 1em;
  }

  .postTitle {
    display: inline;
    font-size: 130%;
  }

  .postProject {
    display: inline;
    margin-right: 1em;
    background-color: lightgrey;
    padding: 0.1em 0.3em;
  }

}

#postDetail {

  width: 96%;

  .postTitle {
    font-size: 150%;
    font-weight: bold;
  }

  .postDate {
    color: grey;
  }
}

#contactBody {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5em 1.5em;
  font-size: 120%
}

#contactBody > div {
  margin-bottom: 0.4em;
}

#contactTitle {
  font-size: 200%;
}

#contactSocial {
  margin-top: 0.8em;
}

#projectsBody {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  
}

#projectCarousel {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  float: right;
  text-align: right;

  .project {
    color: white;
    float: right;
    width: 10em;
    height: 10em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
      cursor: pointer;

      .projectTitle {
        display: none;
      }
      .projectSummary {
        display: block;
      }
    }

    .projectTitle {
      margin-top: 0.1em;
      margin-right: 0.1em;
    }

    .projectSummary {
      display: none;
      text-align: left;
      margin-top: 0.1em;
      margin-left: 0.1em;
    }

  }
}

#projectDetail {
  display: none;
  .fullWindow-mixin;
  @menuHeight: 8%;

  .header {
    width: 100%;
    height: 7.5em;
    overflow: hidden;
  
    h1 {
      display: inline-block;
      width: 60%;
      padding-left: 1em;
      margin: 0.5em 0;
      a {
        color: white;
      }
    }

    .menu {
      height: @menuHeight;
      width: 35%;
      float: right;
      padding: 0.5em;
      color: #ccc;

      li {
        float: right;
        margin-right: 1em;
        min-width: 6em;
        text-align: center;

        &:first-child {
          font-size: 180%;
        }
      }

      .projects, .news {
        position: relative;
        top: 0.5em;
        font-size: 120%;
      }

    }

  }

  .body {

    padding: 0 2em;
    height: 80%;

    .summary {
      height: 100%;

      .pitch {
        color: white;
        padding: 0.5em;
        border: 1px solid #eaeaea;
        background-color: rgba(5, 5, 5, 0.6);

        p:last-child {
          margin-bottom: 0;
        }
      }

      .posts {
        margin-top: 1em;
        height: 70%;
        overflow: auto;
        .postTitle {
          color: black;
        }
      }
    }

    .detail {
      height: 100%;
      overflow: auto;
    }

  }

}
