@linkColor: #1551b3;
@titleColor: #226;
@dateColor: #272727;
@quoteColor: #555;
@fontSize: 14px;

.transition (@property, @duration, @style: cubic-bezier(0.860, 0.000, 0.070, 1.000) ) { -webkit-transition: @property @duration @style; -moz-transition: @property @duration @style; -ms-transition: @property @duration @style; transition: @property @duration @style; }
.translateY (@y:0) { -webkit-transform: translateY(@y); -moz-transform: translateY(@y); -ms-transform: translateY(@y); transform: translateY(@y); }

.unselectableMixin {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullScreenMixin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.resetUlMixin {
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'helvetica_neue_lt_std35_thin', courier;
  font-size: @fontSize;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  outline : none;
  color: @linkColor;
  cursor: pointer;

  img {
    outline : none;
  }
}

a:visited {
  color: @linkColor;
}

button {
  .unselectableMixin;
  cursor: pointer;
  outline : none;
  font-family: 'source_code_proextralight', courier;
}

img {
  border : 0;
}

audio {
  width: 100%;
}

iframe {
  background: no-repeat url('') center center;
}

blockquote {
  color: @quoteColor;
  font-style: italic;
}

.menuItem {
  .unselectableMixin;
  cursor: pointer;
  font-family: 'source_code_proextralight', courier;
}

#contactBody {
  font-family: 'source_code_proextralight', courier;
}

.hidden {
  display: none;
}

.clearfix {
  width: 100%;
  height: 0;
  clear: both;
}

svg {
  .fullScreenMixin;

  path {
    stroke-width: 1;
  }
}

/* Style for both landing menu and pages menus */
.menu {
  .resetUlMixin;

  li {
    .menuItem;
    a {
      text-decoration: none;
      color: white;
    }
  }

}

#mainPage {
  height: 100%;
  width: 100%;
}

header {
  display: none;
  z-index: 10;
  cursor: pointer;

  @toggleWidth: 1.1em;

  /* mixin for both menu toggle and menu items */
  .navButtonMixin {
    background: none;
    border: 2px solid transparent;
    border-radius: 0.5em;
    font-size: 250%;
    padding: 0.8em;

    &:active {
      border-color: grey;
    }
  }

  /* Set styles in the menu according to the currently active page */
  &.contact { display: none; }

  &.projects {
    .toggle { img.white { display: block; } }
    .menu { .projects button { text-decoration: underline; } }
  }

  &.news {
    .toggle { img.white { display: block; } }
    .menu { .news button { text-decoration: underline; } }
  }

  &.expanded {
    cursor: initial;

    &.projects {
      .toggle {
        img.white { display: block; }
        img.black { display: none; }
      }
    }

    nav {
      .translateY(0%);
    }
  }

  .toggle {
    .navButtonMixin;
    position: fixed;
    top: 0.1em;
    right: 0;
    z-index: 2;

    img {
      display: none;
      width: @toggleWidth;
    }
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .transition(all, 300ms);
    .translateY(-100%);

    .menu {
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.85);
      text-align: right;

      li {
        display: inline-block;

        button {
          .navButtonMixin;
          min-width: 7em;
          color: #bbb;
        }

        &:first-child { button { font-weight: bold; } }
        &:last-child { margin-right: 10em; }
      }
    }

  }
}

#modal {
  .fullScreenMixin;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: url('../images/close-cursor.png'), auto;

  .content {
    cursor: initial;
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative; /* to fix the offset introduced by jscrollpane */
    right: 3%;
    font-size: 150%;
    color: white;

    /* innerContent, to add jscrollpane */
    >div {
      background-color: black;
      padding: 2em;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .jspDrag {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

.newsMixin {
  height: 78%;
  overflow: auto;
  color: black;
  width: 95%;
  margin: auto;
  margin-top: 4em;
}

/* class for post titles, post list titles, concerts titles */
.title {
  font-size: 180%;
  letter-spacing: -0.05em;
  color: @titleColor;
  font-family: 'source_code_proextralight', courier;
  a { color: @titleColor; }
  a:visited { color: @titleColor; }
}

#newsBody {
  .newsMixin;
  position: relative; /* required by perfect-scroll plugin */
  display: none;

  @media screen and (min-width: 950px) { font-size: 85%; }
  @media screen and (min-width: 700px) and (max-width: 950px) { font-size: 75%; }
  @media screen and (min-width: 500px) and (max-width: 700px) { font-size: 60%; }
  @media screen and (max-width: 500px) { font-size: 55%; }

  ul {
    .resetUlMixin;

    /* Two column layout realized with float + margin */
    li {
      @leftColWidth: 7em;
      display: block;
      margin-bottom: 0.5em;
      text-transform: uppercase;

      .date {
        display: block;
        width: @leftColWidth;
        float: left;
        color: @dateColor;
        text-align: center;
      }

      a {
        display: block;
        margin-left: @leftColWidth + 0.5em;
      }
    }
  }

}

#postBody {
  .newsMixin;

  .post {
    position: relative; /* required by perfect-scroll plugin */
    height: 100%;
    font-size: 130%;

    .title {
      font-size: 170%;
    }

    .date {
      color: grey;
      display: inline-block;
    }

    .social {
      display: inline-block;
      position: relative;
      top: 0.5em;
      margin-left: 0.8em;
      a img {
        height: 1.8em;
      }
    }

    .highlight {
      font-size: 80%;
      background-color: rgba(255, 255, 255, 0.5);
    }

    #disqus_thread {
      margin-top: 2em;
    }

  }
}

svg {
  /* SVG text displayed in contact page */
  text.menuItem {
    font-size: 100%;
    opacity: 0;
  }
}

#contactBody {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em;
  padding-top: 1.5em;
  font-size: 100%;
  text-align: left;

  .title {
    font-size: 280%;
  }

  .social {
    margin: 0.8em 0;
    img {
      width: 2.9em;
    }
  }

  .name, .mail {
    margin-left: 0.5em;
  }

}

#projectsBody {
  .fullScreenMixin;
  display: none;
  overflow: none;

  @tileSize: 13em;

  #concertsList {
    width: 100%;
    height: 50%;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;

    ul {
      .resetUlMixin;
      margin-right: 0.9em;
      margin-top: 0.7em;
      text-transform: uppercase;
      li {
        .date {
          font-size: 80%;
          font-weight: bold;
        }
        .project {
          text-decoration: underline;
        }
      }
    }
  }

  #projectsList {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 98%;
    overflow: auto;
    white-space: nowrap;

    .tile {
      position: relative;
      padding-right: 0; /* override the hack used to get a vertical gutter in jsScrollPane */
      width: @tileSize;
      height: @tileSize;
      opacity: 0.7;
      color: white;
      display: inline-block;
      background-color: #000;
      cursor: pointer;
      overflow: hidden;
      font-family: 'source_code_proextralight', courier;
      white-space: normal;
      margin-right: 0.5em;

      &.expanded {
        opacity: 1;
        overflow: auto;
        .thumbnail { display: none; }
        .content { display: block; }
      }

      &:hover { opacity: 1; }

      .thumbnail {
        font-size: 150%;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        text-align: center;
        background-size: 100%;

        .subtitle {
          background-color: rgba(0, 0, 0, 0.9);
          font-size: 80%;
          width: 100%;
        }
      }

      .content {
        display: none;
      }

    }

  }

}
