@linkColor: #1551b3;
@titleColor: #226;
@dateColor: #272727;
@quoteColor: #555;
@fontSize: 14px;



/*
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'NTR', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Assistant', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Mandali', sans-serif;
    font-family: 'Biryani', sans-serif;
    font-family: 'Tenor Sans', sans-serif;
    font-family: 'Lekton', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Hind Vadodara', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;

  
    


    Titles
    -------
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Lekton', sans-serif;
*/


@titlesFont: 'Source Sans Pro';
@normalFont: 'Nunito Sans';

.borderBoxMixin {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.transition (@property, @duration, @style: cubic-bezier(0.860, 0.000, 0.070, 1.000) ) { 
  -webkit-transition: @property @duration @style; 
  -moz-transition: @property @duration @style; 
  -ms-transition: @property @duration @style; 
  transition: @property @duration @style; 
}
.translateY (@y:0) { 
  -webkit-transform: translateY(@y); 
  -moz-transform: translateY(@y); 
  -ms-transform: translateY(@y); 
  transform: translateY(@y); 
}

.unselectableMixin {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullScreenMixin {
  width: 100%;
  height: 100%;
  position: absolute; /* a value for "position" is required by perfect-scroll plugin */
  top: 0;
  left: 0;
}

.resetUlMixin {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Two column layout realized with float + margin,
for list of dates such as posts or concert dates */
.dateLiMixin(@leftColWidth: 7em) {
  display: block;
  text-transform: uppercase;

  .date {
    display: block;
    width: @leftColWidth;
    float: left;
    text-align: center;
    white-space: nowrap;
  }

  a {
    display: block;
    margin-left: @leftColWidth + 0.5em;
  }
}

/* Responsive font sizes for dates list such as posts or concert dates */
.dateUlResponsiveSize {
  @media screen and (min-width: 950px) { font-size: 85%; }
  @media screen and (min-width: 700px) and (max-width: 950px) { font-size: 75%; }
  @media screen and (min-width: 500px) and (max-width: 700px) { font-size: 60%; }
  @media screen and (max-width: 500px) { font-size: 55%; }
}

.titlesFontMixin {
  font-weight: 300;
  font-family: @titlesFont, sans-serif;
}

.textPageMixin {
  .borderBoxMixin;
  font-size: 130%;
  position: relative; /* required by perfect-scroll plugin */
  height: 100%;
  padding: 2em;

  @media screen and (max-width: 700px) {
    font-size: 90%;
    width: 100%;
  }

  >.container {
    margin: auto;
    width: 60%;

    .title {
      font-size: 170%;
    }

    .highlight {
      font-size: 80%;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}